:root {
    --white: #ffffff;
    --bg-primary: #2E2E2E;
    --bg-corporate: #8A8CCE;
    --bg-mistake: #EE6A5F;
    --padding: 16px;
    --desktop: 1280px;
    --text-color-dark: #707070;
}

$small: 900px;
$desktop: 1280px;

