.player {
    max-height: 400px;
    transition: max-height 1s ease-in-out;
}

.player.hidden {
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease-in-out;
}

.player__buttons {
    display: grid;
    grid-template-columns: 32px 40px 32px auto;
    grid-gap: 8px;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    margin-bottom: 28px;
}

.player__prev,
.player__next  {
    width:32px; 
    height: 32px;
    color: var(--white);
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;

    &:hover,
    &:focus {
        opacity: 1;
    }
}

.player__volume {
    display: flex;
    align-items: center;
    gap: 5px;
}

.player__volume-range {
    max-width: 70px;
    height: 7px;
    background-color: #fff;
    outline: none;
    -webkit-appearance: none;
}

.player__mute {
    display: flex;
    align-items: center;
    justify-content: center;
}

.player__play {
    width: 30px;
    height: 30px;
    color: var(--white);
    border-radius: 50%;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;

    &:hover svg,
    &:focus svg {
        opacity: 1;
    }

    svg {
        width: 30px;
        height: 30px;
    }

    .pause {
        display: none;
    } 

    .play {
        display: block;
    }
}

.pause {
    .pause {
        display: block;
    } 

    .play {
        display: none;
    }
}

.player__play--main {
    width: 40px;
    height: 40px;

    svg {
        width: 40px;
        height: 40px;
    }
}

.player__list {
    padding: 0;
    margin: 0;
    list-style: none;
    max-height: 150px;
    overflow-y: auto;
}

.player__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    padding-left: 5px;
    padding-left: 20px;
    max-width: 265px;;
    list-style: none;
    opacity: .8;
    cursor: pointer;
    transition: opacity 0.3s ease-in-out;
    

    &:hover,
    &:focus {
        opacity: 1;
    }

    &::before {
        content: "\2713";
        position: absolute;
        left: 0;
        top: 7px;
        font-weight: 900;
    }

    &.active {
        font-weight: bold;
    }
}

.player__progress {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-bottom: 10px;
}

.player__duration {
    position: relative;
    flex-grow: 1;
    height: 9px;
    background-color: #757575;
    cursor: pointer;

    #progress{
        position: absolute;
        top: 0;
        left:0;
        z-index: 2;
        display: block;
        height: 9px;
        background-color: var(--white);
        opacity: 1;
        cursor: pointer;
    }
}

.player__duration-timer {
    display: flex;
    gap: 10px;
}

.player__timer-cur {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -5px;
        display:block;
        height: 70%;
        width: 1px;
        background-color: var(--white);
        transform: translateY(-50%);
    }
}