.app-dash,
.lang-dash,
.todo-dash {
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 0;
    opacity: 0.8;
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;

    svg {
        width: 28px;
        height: 28px;
    }

    &:hover,
    &:focus {
        opacity: 1;
    }

    &:active {
        cursor: grab;
    }
}

.lang-dash {
    left: 50px;
    color: var(--white);
    font-weight: bold;
    font-size: 20px;

    .lang-dash__eng {
        display: none;
    }    
}

.todo-dash {
    left: auto;
    right: 50px;
    max-height: 100px;
    color: var(--white);
    font-size: 20px;
}

.todo.hidden {
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out, max-height 1s ease-in-out;
}

.todo.hidden .todo-dash {
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: height 1s ease-in-out, max-height 1s ease-in-out;
}

.eng {
    .lang-dash__eng {
        display: block;
    }

    .lang-dash__ru {
        display: none;
    }
}

.settings {
    position: fixed;
    bottom: 50px;
    left: 10px;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    max-width: 400px;
    color: #000;
    background-color: var(--white);
    border-radius: 5px;
}

.bg-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    text-align: center;    
}

.bg-form__name {
    color: #222;
    font-size: 20px;
    font-weight: 600;
}

.bg-form__label {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 16px;
    row-gap: 10px;
    justify-content: center;
}

.bg-form__select,
.bg-form__input,
.bg-form__radio {
    font-family: inherit;
    font-size: inherit;
    -webkit-appearance: none;
    background-color: transparent;
    border: 1px solid gray;
    color: #222;
}

.bg-form__select,
.bg-form__input {
    flex-grow: 1;
    padding: 8px 10px;

    &.disabled {
        opacity: 0.3;
        background-color: #cecece;
        cursor:none;
    }
}

.bg-form__input {
    cursor:auto;
}

.bg-form__radio {
    position:absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: 0;

    &:checked + .bg-form__radio-pic {
        border: 1px solid red;            
    }

    &:disabled + .bg-form__radio-pic {
        opacity: 0.3;
        background-color: #cecece;
    }
    
}

.bg-form__radio-wrapper {
    position: relative;
    display: flex;
    column-gap: 10px;
    align-items: center;

    &:hover,
    &:focus {
        .bg-form__radio-pic {
            opacity: 1;
        }

        .bg-form__radio:disabled + .bg-form__radio-pic {
            opacity: 0.3;
            background-color: #cecece;
        }
    }
}

.bg-form__label-name {
    flex-basis: 100%;
    font-weight: bold;
}

.bg-form__radio-pic {
    display: block;
    width: 30px;
    height: 30px;
    opacity: 0.8;
    background-repeat: no-repeat;
    background-size: 24px 24px;
    background-position: center;
    transition: opacity 0.3s ease-in-out;
}


.bg-form__radio-pic--github {
    background-image: url('../img/github.svg');
}

.bg-form__radio-pic--unsplash {
    background-image: url('../img/unsplash.svg');
}

.bg-form__radio-pic--flickr {
    background-image: url('../img/flickr.svg');
}

.bg-form__radio-pic--portrait {
    background-image: url('../img/portrait.svg');
}

.bg-form__radio-pic--landscape {
    background-image: url('../img/landscape.svg');
}

.bg-form__submit {
    justify-self: center;
    padding: 8px 16px;
    background-color: #222;
    transition: background-color 0.3s ease-in-out;

    &:hover,
    &:focus {
        background-color: gray;
    }
}