.todo__container {
    position: fixed;
    bottom: 50px;
    right: 10px;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
    padding: 20px;
    max-width: 400px;
    color: #000;
    background-color: var(--white);
    border-radius: 5px;
}

.todo__header {
    min-height: 55px;
    position: relative;
    z-index: 2;
    display: flex;
    cursor: pointer!important;
}

.todo__header h2 {    
    flex: 1 1 auto;
    display: inline-flex;
    align-items: center;
    min-width: 0;
    padding-top: 5px;
    padding-left: 21px;   
    font-size: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: capitalize;
    white-space: nowrap;
    transition: all .2s ease;
}

.todo__list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.todo__input {
    width: 100%;
    padding: 8px ;
    display: block;
    border: none;
    font-size: 1rem;
    color: #000;
    background-color: #cecece;
    opacity: .75;
    overflow: hidden;

}